.col-xs-12.white.home
  .col-md-10.col-md-offset-1
    %h3 Bienvenido a Deporsoft, en este ambiente podra consultar los datos de los campeonatos  de su interés, por favor seleccione el filtro que desea aplicar:
  = render 'staticstics/players_goals'
  = render 'staticstics/positions'
