-if user_signed_in?
  %nav.navbar.navbar-dark.bg-faded
    %button.navbar-toggler.hidden-sm-up{"type"=>"button","data-toggle"=>"collapse", "data-target"=>"#navbar-header", "aria-controls"=>"navbar-header","aria-expanded"=>"false", "aria-label"=>"Toggle navigation"}
    %a.navbar-brand{"href"=>"/","style"=>'font-w'}
      %span.nombre
        %span.primera-parte DEPOR
        %span.segunda-parte SOFT
    .collapse.navbar-toggleable-xs{"id"=>"navbar-header"}
      %ul.nav.navbar-nav
        - if current_user.has_role? :admin
          %li.nav-item.dropdown
            %a.nav-link.dropdown-toggle{"href"=>"/championships", "id"=>"MenuChampionship", "data-toggle"=>"dropdown", "aria-haspopup"=>"true","aria-expanded"=>"false"} Campeonatos
            .dropdown-menu{"aria-labelledby"=>"MenuChampionship","role"=>"menu"}
              %a.dropdown-item{"href"=>"/championships"} Consultar
              %a.dropdown-item{"href"=>"/championships/new"} Crear
              %a.dropdown-item{"href"=>"/matches-create"} Programacion
        - if current_user.has_role? :admin or current_user.has_role? :capitan 
          %li.nav-item.dropdown
            %a.nav-link.dropdown-toggle{"href"=>"http://example.com", "id"=>"MenuTeam", "data-toggle"=>"dropdown", "aria-haspopup"=>"true","aria-expanded"=>"false"} Equipos
            .dropdown-menu{"aria-labelledby"=>"MenuTeam"}
              %a.dropdown-item{"href"=>"/teams"} Consultar
              %a.dropdown-item{"href"=>"/teams/new"} Crear
        - if current_user.has_role? :admin
          %li.nav-item.dropdown
            %a.nav-link.dropdown-toggle{"href"=>"http://example.com", "id"=>"MenuAdministration", "data-toggle"=>"dropdown", "aria-haspopup"=>"true","aria-expanded"=>"false"} Administración
            .dropdown-menu{"aria-labelledby"=>"MenuAdministration"}
              %a.dropdown-item{"href"=>"/admin/users"} Usuarios
              %a.dropdown-item{"href"=>"/events"} Eventos
        - if current_user.has_role? :admin or current_user.has_role? :capitan  or current_user.has_role? :registrado 
          %li.nav-item.dropdown
            %a.nav-link.dropdown-toggle{"href"=>"http://example.com", "id"=>"Menustatistics", "data-toggle"=>"dropdown", "aria-haspopup"=>"true","aria-expanded"=>"false"} Estadísticas
            .dropdown-menu{"aria-labelledby"=>"Menustatistics"}
              %a.dropdown-item{"href"=>"/staticstics/table-positions"} Tabla de posiciones
              %a.dropdown-item{"href"=>"/staticstics/table-events"} Eventos 
      %ul.nav.navbar-nav.float-xs-right
        %li.nav-item.dropdown
          %a.nav-link.dropdown-toggle{"href"=>"http://example.com", "id"=>"MenuUser", "data-toggle"=>"dropdown", "aria-haspopup"=>"true","aria-expanded"=>"false"} #{current_user.fullname}
          .dropdown-menu{"aria-labelledby"=>"MenuUser"}
            =link_to "Cerrar sesión",destroy_user_session_path,method: :delete,class:"dropdown-item"
