.col-xs-12.white
  .box       
    .big-padding
      %h1 Crear jugador
      = render 'form'
      %a.btn.btn-secondary.active{"href"=>"/players"} <i class="fa fa-arrow-circle-left" aria-hidden="true"></i> Back 
